<nav class="blog-pagination">
    <ul class="pagination">
      {% if pagination.href.previous %}
        <li class="page-item">
          <a class="page-link btn btn-secondary" href={{pagination.href.previous}}>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20.657"
              height="11.314"
              viewBox="0 0 20.657 11.314"
              style="transform: scale(-1, 1)"
            >
              <g data-name="Group 12">
                <path d="M0 4.657h18v2H0z" data-name="Rectangle 2400" />
                <path
                  d="M13.586 9.9l5.6568542-5.6568542 1.4142136 1.4142135-5.6568542 5.6568543z"
                  data-name="Rectangle 2401"
                />
                <path
                  d="M15 0l5.6568542 5.6568542-1.4142135 1.4142136-5.6568543-5.6568542z"
                  data-name="Rectangle 2402"
                />
              </g>
            </svg>
          </a>
        </li>
        {% endif %}

        {% for page in pagination.hrefs %}
        {% assign currentPage = pagination.pageNumber | plus: 1 %}
            {% if forloop.index == currentPage %}
                <li class="page-item">
                    <span class="page-link btn btn-secondary active">{{ forloop.index }}</span>
                  </li>
            {% else %}
                <li class="page-item">
                    <a
                      class="page-link btn btn-secondary"
                     href="{{ page }}"
                    >
                    {{ forloop.index }}
                    </a>
                  </li>
            {% endif %}
        {% endfor %}

          {% if pagination.href.next %}
          <li class="page-item">
            <a class="page-link btn btn-secondary" href={{pagination.href.next}}>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20.657"
                height="11.314"
                viewBox="0 0 20.657 11.314"
              >
                <g data-name="Group 12">
                  <path d="M0 4.657h18v2H0z" data-name="Rectangle 2400" />
                  <path
                    d="M13.586 9.9l5.6568542-5.6568542 1.4142136 1.4142135-5.6568542 5.6568543z"
                    data-name="Rectangle 2401"
                  />
                  <path
                    d="M15 0l5.6568542 5.6568542-1.4142135 1.4142136-5.6568543-5.6568542z"
                    data-name="Rectangle 2402"
                  />
                </g>
              </svg>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>