source: src
paths:
  static: ''
  uploads: assets/images
  data: _data
  includes: _includes
  layouts: _includes
  collections: ''
  pages: ''
collections_config:
  pages:
    path: pages
    output: true
    filter:
      base: strict
      exclude:
        - tags.md
    icon: laptop_mac
    _enabled_editors:
      - visual
    add_options:
      - name: Add New Page
        icon: pages
        schema: default
    create:
      path: '[relative_base_path]/{title|slugify}.md'
    disable_add: false
    disable_add_folder: false
    disable_file_actions: false
    _inputs:
      permalink:
        comment: The relative url that this page should be located (e.g. /page-name/)
    schemas:
      default:
        path: .cloudcannon/schemas/page.md
        reorder_inputs: true
        hide_extra_inputs: false
        remove_empty_inputs: false
        remove_extra_inputs: false
        name: New Page
        icon: notes
        _editables:
        _enabled_editors:
        _inputs:
        _select_data:
        _structures:
        new_preview_url: /
  posts:
    path: pages/blog
    output: true
    icon: article
    _enabled_editors:
      - content
      - visual
    _inputs:
      tags:
        type: array
        options:
          allow_create: true
          empty_type: array
        cascade: true
      tags[*]:
        type: text
        cascade: true
      permalink:
        comment: Override the relative url for this pages location (by default it will be at /blog/page-name/ if you don't set anything here)
    add_options:
      - name: Add New Post
        icon: post_add
        schema: default
    create:
      path: '[relative_base_path]/{title|slugify}.md'
    disable_add: false
    disable_add_folder: false
    disable_file_actions: false
    schemas:
      default:
        path: .cloudcannon/schemas/post.md
        reorder_inputs: true
        hide_extra_inputs: false
        remove_empty_inputs: false
        remove_extra_inputs: true
  data:
    output: false
    icon: data_usage
    disable_add: true
    disable_add_folder: true
    disable_file_actions: false
collection_groups:
  - heading: Pages
    collections:
      - pages
  - heading: Blogging
    collections:
      - posts
  - heading: Data
    collections:
      - data
file_config:
  - glob: pages/blog.md
    _inputs:
      permalink:
        hidden: true
  - glob: _data/icons.json
    _inputs:
      $:
        comment: Add an icon from the list of [Font Awesome icons](https://fontawesome.com/search?o=r&m=free&s=solid).
data_config:
  icons: true
  colors: true
_inputs:
  draft:
    type: checkbox
    hidden: true
  eleventyExcludeFromCollections:
    hidden: true
  pagination.data:
    hidden: true
  pagination.alias:
    hidden: true
  pagination.size:
    type: number
    comment: The number of collection items to list per page
    cascade: true
  markdown_content:
    type: markdown
    options:
      allow_resize: true
      allow_custom_markup: false
      remove_custom_markup: false
      initial_height: 320
      blockquote: true
      bold: true
      bulletedlist: true
      code: true
      copyformatting: true
      embed: true
      format: p h1 h2 h3 h4
      horizontalrule: true
      image: true
      image_size_attributes: true
      italic: true
      link: true
      numberedlist: true
      redo: true
      removeformat: true
      strike: true
      subscript: true
      superscript: true
      table: true
      underline: true
      undo: true
    cascade: true
  image_path:
    type: image
    options:
      paths:
        uploads: src/assets/images
        static: .
      accepts_mime_types:
        - image/png
        - image/jpeg
        - image/gif
    comment: The path to the source file of the image to be optimized.
    cascade: true
  alt_text:
    type: textarea
    label: Image Alt Text
    hidden: '!image_path'
    cascade: true
  width:
    type: number
    cascade: true
  height:
    type: number
    cascade: true
  background_color:
    type: select
    options:
      values: data.colors
      value_key: value
      preview:
        text:
          - key: name
    hidden: border_only
    cascade: true
  text_color:
    type: select
    options:
      values: data.colors
      value_key: value
      preview:
        text:
          - key: name
    cascade: true
  color:
    type: select
    options:
      values: data.colors
      value_key: value
      preview:
        text:
          - key: name
    cascade: true
  icon:
    type: select
    options:
      allow_empty: true
      values: data.icons
    cascade: true
  button_icon:
    type: select
    options:
      allow_empty: true
      values: data.icons
    cascade: true
  button_link:
    type: url
    cascade: true
  hover_brightness:
    type: range
    options:
      min: 0
      max: 1.5
      step: 0.05
    cascade: true
  seo:
    type: auto
    options:
      preview:
        text:
          - Search engine optimization
        subtext:
          - key: page_description
          - Update SEO values for the page
        icon: query_stats
    cascade: true
  layout:
    type: auto
    hidden: true
    cascade: true
  date:
    type: auto
    instance_value: now
    cascade: true
  social:
    type: auto
    options:
      preview:
        icon: link
    cascade: true
  links[*]:
    type: auto
    options:
      preview:
        text:
          - key: text
          - Link
        subtext:
          - key: link
          - Add a social link
        icon: link
    cascade: true
  social_icon:
    type: select
    options:
      allow_empty: true
      values: data.icons
    cascade: true
  social[*]:
    type: auto
    options:
      preview:
        icon: query_stats
    cascade: true
  logo:
    type: image
    cascade: true
  logo_url:
    type: auto
    comment: Link for the logo in the top left of the footer
    cascade: true
  copyright:
    type: auto
    comment: Automatically prefixed with the current year
    cascade: true
  page_description:
    type: auto
    comment: Defaults to the description set in the Site SEO data file
    cascade: true
  canonical_url:
    type: auto
    comment: Defaults to the pages url
    cascade: true
  featured_image:
    type: auto
    comment: Defaults to the image set in the Site SEO data file
    cascade: true
  open_graph_type:
    type: select
    options:
      allow_empty: true
      values:
        - website
        - article
    comment: Defaults to the type 'website'
    cascade: true
  author_twitter_handle:
    type: auto
    comment: Defaults to the twitter site value set in the Site SEO data file
    cascade: true
  twitter_site:
    type: url
    cascade: true
  no_index:
    type: checkbox
    comment: >-
      When selected this removes the page from your sitemap and adds the noindex
      robots meta tag
    cascade: true
_structures:
  content_blocks:
    style: modal
_editables:
  content:
    allow_custom_markup: false
    remove_custom_markup: false
    blockquote: true
    bold: true
    bulletedlist: true
    center: align-center
    code: true
    copyformatting: true
    embed: true
    format: p h2 h3 h4
    horizontalrule: true
    image: true
    image_size_attributes: true
    indent: true
    italic: true
    justify: align-justify
    left: align-left
    link: true
    numberedlist: true
    outdent: true
    redo: true
    removeformat: true
    right: align-right
    snippet: true
    strike: true
    styles: /src/assets/styles/editor.css
    subscript: true
    superscript: true
    table: true
    underline: true
    undo: true
timezone: Pacific/Auckland
_snippets_imports:
  eleventy_liquid: true
_snippets:
  alert:
    template: eleventy_liquid_bookshop_component
    inline: false
    preview:
      text:
        - key: alert_message
        - 'Alert'
      gallery:
        image: /assets/images/snippet-previews/alert.preview.webp
    definitions:
      component_name: snippets/alert
      named_args:
        - editor_key: background_color
          source_key: background_color
          type: string
        - editor_key: alert_message
          source_key: alert_message
          type: string
        - editor_key: color
          source_key: color
          type: string
        - editor_key: icon
          source_key: icon
          type: string
    _inputs:
      background_color:
        type: select
        options:
          values: data.colors
          value_key: value
          preview:
            text:
              - key: name
      icon:
        type: select
        options:
          values: data.icons
      color:
        type: select
        options:
          values: data.colors
          value_key: value
          preview:
            text:
              - key: name
      alert_message:
        comment: This is the text displayed in the alert
        type: textarea
  video:
    template: eleventy_liquid_bookshop_component
    inline: false
    preview:
      text: Video
      gallery:
        image: /assets/images/snippet-previews/video.preview.webp
    definitions:
      component_name: snippets/video
      named_args:
        - editor_key: src
          source_key: src
          type: string
    _inputs:
      src:
        type: file
        options:
          paths:
            uploads: assets/videos
  file:
    template: eleventy_liquid_bookshop_component
    inline: false
    preview:
      text: File
      gallery:
        image: /assets/images/snippet-previews/file.preview.webp
    definitions:
      component_name: snippets/file
      named_args:
        - editor_key: src
          source_key: src
          type: string
        - editor_key: file_name
          source_key: file_name
          type: string
        - editor_key: link_message
          source_key: link_message
          type: string
    _inputs:
      src:
        type: file
        label: File source
        options:
          paths:
            uploads: assets/documents
      file_name:
        comment: The name of the file, once downloaded.
      link_message:
        type: textarea
        comment: The text for the download link
  tint:
    template: eleventy_liquid_paired_shortcode_positional_args
    inline: true
    preview:
      text: Tint
      gallery:
        image: /assets/images/snippet-previews/tint.preview.webp
    definitions:
      shortcode_name: tint
      content_key: text
      positional_args:
        - editor_key: color
          type: string
    _inputs:
      text:
        comment: This text will be tinted
        type: textarea