.shared-bg-hero {
  display:flex;
  padding-block: 60px; 
  min-height: 50vh;
  background-image:var(--background-image);

  &__wrapper{
    .heading-text{
      grid-column: 1 / 13;

      p{
        @media (--desktop){
          text-align:center;
        }
      }
    }
  }  

  @media (--desktop) {
    padding-block: 120px;
  }
}