{% assign_local c = "shared-bg-hero" %}

<section class="{{ c }}" style="--background-image:url({{ bg_image }})" >
   <div class="{{ c }}__wrapper content-block">
      {% bookshop "heading-text" bind: heading_text %}
   </div>
</section>