.hero-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-block: 24px;
    padding-inline: var(--pagePadding);
    max-width: var(--pageContainer);
    margin-inline: auto;
    overflow: hidden;


  .content h1 {
    font-size: 2.5rem;
    line-height: 1em;
    font-weight: 700;
    background: -webkit-linear-gradient(to left, #eee 50%, #333);
    background: linear-gradient(
      to left,
      var(--headingGradientColor) 50%,
      #000000
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .subheading-text {
    margin-top: 1rem;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: fit-content;
    justify-content: center;
    margin-top: 1rem;
  }

  .blob {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .blob > picture > img, .blob > img {
    background-size: cover;
    -webkit-background-position: center;
    background-position: center center;
    animation: animate 10s ease-in-out infinite;
    transition: all 1s ease-in-out;
  }

  .blob > picture, .blob > img {
    margin: 20px;
    max-width: 600px;
    width: 100%;
  }

  @media only screen and (min-width: 400px) {
    .buttons {
      flex-direction: row;
      margin-top: 2rem;
    }
    .content h1 {
      font-size: 3.8rem;
    }
  }
  @media only screen and (min-width: 960px) {
    flex-direction: row;
    padding-block: 48px;

    .content {
      width: 50%;
    }

    .blob {
      width: 50%;
    }
    .buttons {
      flex-direction: column;
    }
  }
  @media only screen and (min-width: 1280px) {
    .buttons {
      flex-direction: row;
    }
  }

  @keyframes animate {
    0%,
    100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
  }
}