<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Add fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Add TailwindCSS -->
    <link rel="stylesheet" href='/assets/styles/tailwind.css'>
    <!-- Add component styles -->
    <link rel="stylesheet" href="/assets/styles/bookshop.css">
    <!-- Add general styles -->
    <link rel="stylesheet" href="/assets/styles/main.css">

    <!-- Add editor styles -->
    <link rel="stylesheet" href="/.cloudcannon/css/editor.css" />

    <!-- Add SEO -->
    {% include 'partials/seo.html' %}

    <!-- Add Alpine -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>

    <!-- Add FontAwesome Icons -->
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    </head>
    <body>
        {% include 'partials/navigation/header.html' %}
        <main id="main">
            {{ content }}
        </main>
        {% include 'partials/navigation/footer.html' %}
    </body>
</html>
