.blog {
  padding: 64px var(--base-padding);
  max-width: var(--max-width-xxl);
  margin: 0 auto;

  @media screen and (min-width: var(--max-width-md)) {
    padding: 64px 32px;
  }

  @media screen and (min-width: var(--max-width-xl)) {
    padding: 64px 157px;
  }

  &__hero-content {
    h1 {
      padding-block: 32px;
      font-size: 2.5rem;
      font-weight: bold;

      @media screen and (min-width: var(--max-width-md)) {
        font-size: 3.5rem;
      }
    }
  }

  &__grid {
    display: grid;
    gap: 36px;

    @media screen and (min-width: var(--max-width-md)) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__post-thumb {
    img {
      border-radius: var(--base-border-radius);
    }
  }

  &__post-tag {
    padding-block: 8px;

    a {
      padding: 4px 12px;
      border-radius: var(--base-border-radius);
      background-color: var(--color-primary-dark);
      color: var(--color-white);
    }
  }

  &__post-title {
    padding-block: 8px;
    font-size: 1.25rem;
    font-weight: bold;
  }
}