---
permalink: "feed.xml"
eleventyExcludeFromCollections: true
---
<rss version="2.0">
    <channel>
        <title>{{ site.site_title }}</title>
        <description>{{ site.description }}</description>
        <link>{{ site.base_url }}</link>
        <language>en-us</language>
        {%- for post in collections.posts %}
            <item>
                <title>{{ post.data.title }}</title>
                <link>{{ site.base_url }}{{ post.url }}</link>
                <pubDate>{{ post.date }}</pubDate>
            </item>
        {%- endfor %}
    </channel>
</rss>