<div class="c-dev-note">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="c-dev-note__heading-container__icon">
            <g clip-path="url(#clip0_76_690)">
            <path d="M10 0C4.5 0 0 4.5 0 10C0 15.5 4.5 20 10 20C15.5 20 20 15.5 20 10C20 4.5 15.5 0 10 0ZM10.2 4.15C10.9 4.15 11.45 4.7 11.45 5.4C11.45 6.1 10.9 6.65 10.2 6.65C9.5 6.65 8.95 6.1 8.95 5.4C8.95 4.7 9.5 4.15 10.2 4.15ZM12.1 15.4H8.75C8.3 15.4 7.9 15.05 7.9 14.55C7.9 14.1 8.25 13.7 8.75 13.7H9.35C9.45 13.7 9.55 13.6 9.55 13.5V9.75C9.55 9.65 9.45 9.55 9.35 9.55H8.75C8.3 9.55 7.9 9.2 7.9 8.7C7.9 8.2 8.25 7.85 8.75 7.85H9.6C10.5 7.85 11.25 8.6 11.25 9.5V13.45C11.25 13.55 11.35 13.65 11.45 13.65H12.05C12.5 13.65 12.9 14 12.9 14.5C12.9 15.05 12.55 15.4 12.1 15.4Z" fill="#4F63F9"/>
            </g>
            <defs>
            <clipPath id="clip0_76_690">
            <rect width="20" height="20" fill="white"/>
            </clipPath>
            </defs>
        </svg>
        <p class="c-dev-note__heading-container__title">Editor Note:</p>

    <div class="c-dev-note__content-container">
        {{ text }}
    </div>
</div>


