{% assign c = 'header' %}

<header>
  <nav class="{{ c }}">
    <div class="{{ c }}__container">
      <div class="{{ c }}__nav" x-data="{ open: false }">
        <!-- Hamburger -->
        <button x-on:click="open = ! open" class="{{ c }}__hamburger" :class="open ? '{{ c }}__hamburger-open' : ''">
          <span x-show="!open" class="navbar-toggler-default">
            <img src="/images/icons/hamburger.svg" />
          </span>
          <span x-show="open" class="navbar-toggler-toggled">
            <img src="/images/icons/close.svg" />
          </span>
        </button>
        <!-- Mobile nav -->
        <div class="{{ c }}__nav-list-mobile" :class="open ? '{{ c }}__nav-list-mobile-show' : ''" x-cloak>
          <ul>
            {% for item in nav.items %}
              {% assign url = item.link %}
              <li>
                <a class="nav-link {% if page.url == url%}active{% endif %}" href="{{ item.link }}">{{ item.text }}</a>
                {% if item.items %}
                  <ul>
                    {% for subitem in item.items %}
                      <li>{{ subitem.text }}</li>
                    {% endfor %}
                  </ul>                
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
        <!-- Desktop nav -->
        <ul class="{{ c }}__nav-list">
          <li class="{{ c }}__nav-list-item {{ c }}__nav-list-item-logo">
             <!-- Logo -->
            <a class="{{ c }}__logo" href="/">
              <img src="{{ nav.logo }}" alt="Nav-Logo" />
            </a>
          </li>
          {% for item in nav.items %}
            {% assign url = item.link %}
            <li class="{{ c }}__nav-list-item">
              <div class="underline"></div>
              <a class="nav-link {% if page.url == url%}active{% endif %}" href="{{ item.link }}">
                {{ item.text }}
                {% if item.items %}                
                  <i class="fa-solid fa-chevron-down"></i>
                {% endif %}
              </a>              
            </li>
            {% if item.items %}
              <li class="{{ c }}__dropdown-menu">   
                <div class="{{ c }}__dropdown-menu-wrapper">    
                  <div class="inner">
                    <h3>{{ item.text }}</h3>
                    <ul>
                      {% for subitem in item.items %}
                        <li>
                          <a class="nav-link" href="{{ subitem.link }}">
                            <i class="fa-solid fa-chevron-right"></i>
                            {{ subitem.text }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </li>            
            {% endif %}
          {% endfor %}
          <li class="blur-veil"></li>
        </ul>
      </div> 
    </div>
  </nav>
</header>
