{% assign c = 'header' %}

<header>
  <nav class="{{ c }}">
    <div class="{{ c }}__container">
      <div class="{{ c }}__nav" x-data="{ open: false }">
        <!-- Hamburger -->
        <button x-on:click="open = ! open" class="{{ c }}__hamburger">
          <span x-show="!open" class="navbar-toggler-default">
            <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <line
                  x1="3.5"
                  y1="5.5"
                  x2="21.5"
                  y2="5.5"
                  stroke="#292D32"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <line
                  x1="4.5"
                  y1="12.5"
                  x2="21.5"
                  y2="12.5"
                  stroke="#292D32"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <line
                  x1="11.5"
                  y1="19.5"
                  x2="21.5"
                  y2="19.5"
                  stroke="#292D32"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
            </svg>
          </span>
          <span x-show="open" class="navbar-toggler-toggled">
            <svg
                width="20"
                height="20"
                viewBox="0 0 28 28"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                  d="M21.5 6.5L6.5 21.5"
                  stroke="#404152"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M21.5 21.5L6.5 6.5"
                  stroke="#404152"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
            </svg>
          </span>
        </button>
        <!-- Mobile nav -->
        <div class="{{ c }}__nav-list-mobile" :class="open ? '{{ c }}__nav-list-mobile-show' : ''" x-cloak x-transition.height>
          <ul>
            {% for item in nav.items %}
              {% assign url = item.link %}
              <li>
                <a class="nav-link {% if page.url == url%}active{% endif %}" href="{{ item.link }}">{{ item.text }}</a>
                {% if item.items %}
                  <ul>
                    {% for subitem in item.items %}
                      <li>{{ subitem.text }}</li>
                    {% endfor %}
                  </ul>
                {% elsif item.text == 'Example blog' %}
                  <ul>
                    {% for blog in collections.blog %}
                      <li>{{ blog.data.title }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
        <!-- Desktop nav -->
        <ul class="{{ c }}__nav-list">
          <li class="{{ c }}__nav-list-item {{ c }}__nav-list-item-logo">
             <!-- Logo -->
            <a class="{{ c }}__logo" href="/">
              <img src="{{ nav.logo }}" alt="Nav-Logo" />
            </a>
          </li>
          {% for item in nav.items %}
            {% assign url = item.link %}
            <li class="{{ c }}__nav-list-item">
              <div class="underline"></div>
              <a class="nav-link {% if page.url == url%}active{% endif %}" href="{{ item.link }}">{{ item.text }}</a>
              {% if item.items or item.text == 'Example blog' %}
                <i class="fa-solid fa-chevron-down"></i>
              {% endif %}
            </li>
            {% if item.items %}
              <li class="{{ c }}__dropdown-menu">              
                <h3>{{ item.text }}</h3>
                <ul>
                  {% for subitem in item.items %}
                    <li>{{ subitem.text }}</li>
                  {% endfor %}
                </ul>
              </li>
            {% elsif item.text == 'Example blog' %}
              <li class="{{ c }}__dropdown-menu">   
                <div class="{{ c }}__dropdown-menu-wrapper">           
                  <h3>{{ item.text }}</h3>
                  <ul>
                    {% for blog in collections.blog %}
                      <li><a href="{{ blog.url }}">{{ blog.data.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </li>
            {% endif %}
          {% endfor %}
          <li class="blur-veil"></li>
        </ul>
      </div> 
    </div>
  </nav>
</header>
